<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment status:</strong>
    <%= order.payment_status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= order.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= order.client_id %>
  </p>

</div>
