<div id="<%= dom_id order_payment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= order_payment.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment method:</strong>
    <%= order_payment.payment_method %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paid at:</strong>
    <%= order_payment.paid_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= order_payment.order_id %>
  </p>

</div>
