<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= product.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= product.image_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stock quantity:</strong>
    <%= product.stock_quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last price update:</strong>
    <%= product.last_price_update %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last stock update:</strong>
    <%= product.last_stock_update %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit cost:</strong>
    <%= product.unit_cost %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit price:</strong>
    <%= product.unit_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax amount:</strong>
    <%= product.tax_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Profit margin:</strong>
    <%= product.profit_margin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Supplier:</strong>
    <%= product.supplier_id %>
  </p>

</div>
