<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Products" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <%= turbo_frame_tag 'categories' do %>
    <%= form_with url: products_path do |form|%>
      <%= form.number_field :min_price, placeholder: "Min price" %>
    <% end %>
    <%= form_with url: products_path do |form|%>
      <%= form.number_field :max_price, placeholder: "Max price" %>
    <% end %>
    <%= link_to "Todas", products_path %>
    <%= render partial: 'category', collection: @categories %>
    <div id="products" class="min-w-full">
      <% @products.each do |product| %>
        <%= render product %>
        <p>
          <%= link_to product, 'data-turbo-frame': '_top', class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
            Show this product
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>