<div id="<%= dom_id account %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= account.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Balance:</strong>
    <%= account.balance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account type:</strong>
    <%= account.account_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= account.user_id %>
  </p>

</div>
